aiohttp
annotated_types
anyio
certifi
click
dataclasses-json
deprecation
fastapi
filelock
h11
httpx
httpx-sse
huggingface-hub
idna
jinja2
joblib
jsonpatch
jsonpointer
lancedb
langchain
langchain-community==0.3.5
langchain-core
langchain-text-splitters
langsmith==0.2.0
markupsafe
networkx
numpy==1.26.4
orjson
openai
overrides
packaging
pillow
pyarrow
pydantic
pydantic-core
pydantic-settings
pylance
python-dotenv
pyyaml
requests
requests-toolbelt
scikit-learn
scipy
sentence-transformers
sniffio
starlette
SQLAlchemy==2.0.35
sympy
tenacity
threadpoolctl
torch
tqdm
transformers
typing-extensions
urllib3
uvicorn

